@charset "UTF-8";

/* device breakpoints: 
1-telas-menores:min-width:328px, max-width:767px
2-tablets: min-width:768px, max-width:1024px;

3-desktops: min-width:1025px, max-width:1880px
4-telas-maiores: min-width:1881px
*/

/* media para tablets */
@media screen and (min-width:768px){
    main > div.conteiner{
        margin-top: 10%;
    }
    main > div.conteiner > div.carta{
        width: 90px;
        height: 160px;
        /* margin: 8px 50px;a */
        margin: 8px 18px;
    }
    /* configurando a dialog de começo*/
    body > dialog#comeco{
        width: 90%;
        height: 80%;
    }
    dialog#comeco > form{
        width: 70%;
        height: 45%;
    }
    dialog#comeco > form > div#imagem{
        margin-top: 15%;
    }
    dialog#comeco > form > div#imagem > img{
        width: 220px;
        height: 220;
    }
    dialog#comeco > form  > input{
        width: 40%;
        margin-top: 35px;
        margin-left: 10%;
        
    }
    dialog#comeco > form > input[type="submit"]{
        width: 15%;
    }
    /* configuração de dialogo do final */
    dialog#final > p{
        font-size: 25px;
    }
}

/* media para laptop: */
@media screen and (min-width:1024px){
    main > div.conteiner{
        margin-top:10%;
    }
    main > div.conteiner > div.carta{
        width: 100px;
        height: 190px;
        margin: 15px 30px;
    }
    /* configurando a dialog do inicio */
    body > dialog#comeco{
        width: 80%;
        height: 70%;       
    }
    /* configuração do dialog do final */

    dialog#final > p{
        font-size: 28px;
    }
    dialog#final > input[type="button"]{
        padding: 10px;
    }
}

/* media para desktops */
@media screen and (min-width:1280px){
    main > div.conteiner{
        margin-top: 3%;
    }
    main > div.conteiner > div.carta{
        width: 100px;
        height: 190px;
        margin: 10px 25px;
    }

    /* configurando a dialog: */
    body > dialog#comeco{

        width: 100%;
        height: 100%;
        
    }
    dialog#comeco > form{
        width: 50%;
        height: 60%;

    }
    form > div#imagem{
        margin-top: 0%;
    }
    form > div#imagem > img{
        width: 200px;
        height: 200;
    }
    form  > input{
        width: 40%;
        margin-top: 25px;
        margin-left: 10%;
    }
    form > input[type="submit"]{
        width: 15%;
    }

}

/* media para televisões 1080p full hd*/
@media screen and (min-width:1920px){
    header > h1{
        font-size: 35px;
        padding-top: 25px;
    }
    main > div.conteiner{
        margin-top: 3%;
    }
    main > div.conteiner > div.carta{
        width: 120px;
        height: 210px;
        margin: 10px 50px;
    }
    form{
        width: 45%;
        height: 50%;
    }
    form > div#imagem{
        margin-top: 8%;
    }
    form > div#imagem > img{
        width: 210px;
        height: 210;
    }
    form  > input{
        width: 40%;
        margin-top: 25px;
        margin-left: 10%;
    }
    form > input[type="submit"]{
        width: 15%;
    }
}
