<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- chamada as media queries e css -->
    <link rel="stylesheet" href="../style/style.css" media="all">
    <link rel="stylesheet" href="../style/queries/querie.css">
    
    <!-- chamada ao javascript -->
    <script src="../script/jogo-da-memoria.js" defer></script>

    <title>Jogo da Memória</title>
</head>
<body>
    
    <header>

        <h1 id="nome-jogador">Olá mundo!</h1>
        
        <div id="relogio">

            <div id="horas">00</div>

            <div class="separador">:</div>
            
            <div id="minutos">00</div>
            
            <div class="separador">:</div>
            
            <div id="segundos">00</div>

        </div>

    </header>

    <main>
        <div class="conteiner"></div>
    </main>

    <dialog id="comeco">

        <form action="#" method="post">

            <div id="imagem">
                <img src="../images/image-home/home-png" alt="imagem-animação">
            </div>
            
            <input type="text" name="nome" id="nome" placeholder="Digite seu primeiro nome" maxlength="20" required>
            
            <input type="submit" value="Começar">

        </form>
        
    </dialog>

    <dialog id="final">

        <p id="mensagem_final">parabens!</p>

        <input type="button" value="Jogar novamente">

    </dialog>

</body>
</html>